footer {
    background-color: #1b1913;   
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    padding: 0;
    margin-top: 40px;
}

.footer {
    background-color: #1b1913;   
    height: 50%;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 40px;
    gap: 50px;
}

.footer div {
    background-color: #1b1913;
    height:100px;
    width: 50px;
}

.footer-content {
    background-color: #1b1913;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size:  small;
}

.footer-content a {
    background-color: #1b1913 ;
    color: #F5F5F5;
    margin-bottom: 2px;
    text-decoration: none;
}

.heading {
    background-color: #1b1913;
    font-weight: 700;
    color:#808080 !important;
}

.copy {
    color: #808080;
    margin-top: 150px;
    align-self: flex-start;
    margin-left: 150px;
}