*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(20, 18, 11);
    height: auto;
    width: auto;
}

header {
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
}

#header {
    background-color: #111111e1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0%;
    padding: 10px 0px;
}

.nlogo {
    background-color: #111111e1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.nav{
    background-color: #111111e1;
    display: flex;
    justify-content: space-around;
    font-size:medium;
    margin: 0px 20px;
    color: #edecec;
    gap: 24px;
}
.nav:hover{
    cursor: pointer;
}

#logo {
    height: 30px;
    width: 30px;
    border-radius: 4px;
    align-items: baseline;
}
#wmark{
    height: 12px;
    width: 100%;
    background-color: #111111e1;
}

.btn {
    background-color: #11111141;
    gap: 8px;
}

#sign-in {
    background-color: #111111e1;
    border-radius: 14px;
    font-size:medium;
    color: #edecec;
    border: 1px solid #edececa0;
    padding: 3px 12px; 
}
#sign-in:hover{
    background-color: #11111141;
    cursor:pointer;
}

#Download {
    border: 0;
    background-color: #edecec;
    border-radius: 14px;
    font-size:medium;
    padding: 3px 8px;
    color: #111111e1;
}
#Download:hover {
    background-color: #edecec;
    cursor:pointer;
}